@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;
    position: sticky;
    top: 0;
    padding: 0 35px;
}
.nav{
    display: flex;
    align-items: center;
    background-color: lightblue;
    width: 100%;
}
.nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    margin-right: 15%;
}
.nav ul li{
    margin: 0 auto;
}
.nav ul li a:hover{
    background-color: rgb(49, 45, 67);
    color: lightblue;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
}

h2{
    color: white;
    font-size: 40px;
    margin-top: 100px;
    text-shadow: lightblue 1px 0 10px;
} 
span{
    padding: 10px;
}

#description-container, h2, #games-description, .search{
    
    padding: 5px 15px;
}

#description-container, #games-description{
    color: white;
    font-size: 20px;
}
.stats-container {
    display: flex;
    align-items: center;
    color: white;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}
#first-game, #second-game{
    font-weight: 800;
    font-size: 18px;
}
#games-description, .search{
    color: white;
}
label{
    font-size: 18px;
}
#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 3px 10px;
    margin: 1%;
    border-radius: 7px;
    font-size: 18px;
    background-color: lightblue;
}
button:hover{
    cursor: pointer;
    background-color: rgb(53, 77, 85);
    color: white;
}